@use "variables.scss";
html {
    background-color: variables.$surface-100;
    color: variables.$font-color;
}

.equipment-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5vw;
    & > input {
        width: calc(25% - 8px);
        margin: 2px;
        color: inherit;
        background-color: variables.$surface-300;
        border: none;
        appearance:textfield;
        text-align: center;
        font-size: 2em;
        &::-webkit-inner-spin-button,&::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.materialCard {
    background-color: variables.$surface-200;
    display: flex;
}

#equipmentPanel {
    display:grid;
    grid-template-columns: repeat(2, calc(50% - 2.5vw));
    width: 66%;
}
#feedbackSidebar {
    display: flex;
    width: 30%;
    padding: 15px;
    height: calc(100vh - 40px);
    position: fixed;
    right: 0px;
    top: 5px;
    border-radius: 5% 0 0 5%;
}