@use "variables.scss";
html {
    background-color: variables.$surface-100;
    color: variables.$font-color;
    font-family: variables.$font-family;
}

.iblock {
    display: inline-block;
}

input[type=number]{
    padding: 0.5em;
    width: calc(25% - 1.2em);
    margin: 2px;
    color: inherit;
    background-color: variables.$surface-300;
    border: none;
    appearance:textfield;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
    &::-webkit-inner-spin-button,&::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.title-text {
    font-size: 1.5em;
    font-weight: bolder;
}

.brand-icon {
    padding: 3px;
    height: 64px;
}

input.smallInput {
    font-size: 1.2em;
    width: 3em;
}

.equipment-grid {
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5vw;
    min-width: 20em;
    & .label {
        position:absolute;
        z-index: 2;
        bottom: 4px;
        left: 7px;
        font-size: .8em;
        user-select: none;
        pointer-events: none;
    }
    & .iblock {
        width: 25%;
        position:relative;
        z-index: 1;
    }
    & input[type=number] {
        width: calc(100% - 37px);
    }
}

.materialCard {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: variables.$surface-200;
    display: flex;
}

.flex-break {
    width: 100%;
}

.flexContainer {
    display: flex;
    &.vertical {
        flex-direction: column;
    }
    &.horizontal {
        flex-direction: row;
    }
    &.center {
        align-items: center;
    }
    & > .flexRight {
        margin-left: auto;
    }
    & hr {
       width: 95%; 
       border-radius: 2px;
    }
}

.meterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > meter{
        width: 80%;
    }
}

.socials {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    & > a{
        height: 3em;
    }
    & .fa-brands {
        font-size: 3em;
        padding-right: .2em;
        color: aliceblue;
    }
}


#equipmentPanel {
    margin-top: 75px;
    display:grid;
    grid-template-columns: repeat(2, calc(50% - 2.5vw));
    width: 66vw;
}
#feedbackSidebar {
    display: flex;
    width: 30vw;
    padding: 15px;
    height: calc(100vh - 110px);
    position: fixed;
    right: 0px;
    top: 75px;
    border-radius: 5px 0 0 5px;
}

#header {
    position: fixed;
    top: 0;
    left: 5px;
    width: calc(100vw - 10px);
    background-color: variables.$surface-200;
    z-index: 999;
    & > a {
        text-decoration: none;
        color: inherit;
        &:link {
            color:inherit;
        }
        &:visited {
            color:inherit;
        }
    }
}

@media (max-width: 1040px) {
    #header {
        width: 100vw;
        margin: 0;
        left: 0;
    }
    #equipmentPanel {
        width: 95%;
        margin-left: 2.5vw;
        padding-bottom: 11px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        & .equipment-grid {
            margin: 0;
            padding: 5px;
        }
    }
    #feedbackSidebar {
        width: 95%;
        position:relative;
        border-radius: 0;
        height: auto;
    }
}